{%  extends "base.html.twig" %}

{% block body %}
    <div class="gallery">
    <h1 class="heading">Gallery</h1>

        <form id="form-gallery" class="form-inline" action="/photos/search">
                    <div class="form-group">
                        <label for="form-gallery-caption">Filter: </label>
                        <div class="input-group input-daterange">
                            <input name="date-start" type="text" class="form-control" id="form-gallery-date-start" value="2017-01-01"/>
                            <div class="input-group-addon">to</div>
                            <input name="date-end" type="text" class="form-control" id="form-gallery-date-end" value="2018-01-01"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="form-gallery-caption"></label>
                        <input name="search" type="text" class="form-control" id="form-gallery-search" placeholder="Search caption text"/>
                    </div>
                    <button id="form-submit" class="btn btn-primary" type="submit">Submit</button>

        </form>

        <div class="row gallery-gallery">
            {% for photo in photos %}
                <div class="gallery-photo col-lg-4">
                    <div class="card-1">
                        <a class="twitter-share twitter-share-button" href="https://twitter.com/intent/tweet">
                            <i class="fa fa-2x fa-twitter" aria-hidden="true"></i>
                        </a>
                        <a href="/photos/{{ photo.id }}/show">
                            <div class="card-photo" style="background-image: url(/{{ photo.filename }}); width: 100%;"></div>
                        </a>
                        <div class="card-body">
                            <div class="row">
                                <p class="card-text col-md-12">{{ photo.caption }}</p>
                                <div class="card-text col-md-6">by <a href="#" class=>{{ photo.username }}</a></div>
                                <p class="card-text col-md-6">
                                    <span class=" pull-right">{{ photo.created_at|date("d-m-Y") }}</span>
                                </p>

                            </div>

                        </div>

                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="/css/vendor/bootstrap-datepicker.min.css" />
    {{  parent() }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script src="/js/vendor/bootstrap-datepicker.min.js"></script>
    <script src="/js/form.js"></script>
    <script>
        $(document).ready(function(){
            $('.input-daterange').datepicker({
                format: 'yyyy-mm-dd',
                inline: true
            });
        });
    </script>
{% endblock %}